.blender {
  margin: 2rem 0;
  text-align: center;

  .progress {
    display: block;
    overflow: hidden;
    margin: 1rem 0;
  }
  .blender__content {
    display: block;
    position: relative;
  }
  .blender__logo {
    width: 300px;
    max-width: 300px;
  }
  .blender__fruit {
    position: absolute;
    left: calc(50% - 40px);
    top: 110px;
    display: none;  // block
    margin: 0;
    width: 100px;
    width: 100px;
    transition: all 250ms ease-out;
  }
  .blender__fruit0 {
    animation: blenderFruitX 1000ms linear 0s infinite alternate,
               blenderFruitR 2s linear 0s infinite normal;
  }
  .blender__fruit1 {
    margin-top: 20px;
    animation: blenderFruitX 800ms linear 0s infinite alternate,
               blenderFruitR 1.5s linear 0s infinite normal;
  }
  .blender__fruit2 {
    margin-top: 40px;
    animation: blenderFruitX 600ms linear 0s infinite alternate,
               blenderFruitR 1s linear 0s infinite normal;
  }
  .blender__fruit3 {
    margin-top: 60px;
    animation: blenderFruitX 400ms linear 0s infinite alternate,
               blenderFruitR 1s linear 0s infinite normal;
  }

  &.blender--on {
    .blender__content {
      animation: blenderOn 500ms linear 0s infinite alternate;
    }
    .blender__fruit {
      display: block;
    }
  }
}

@keyframes blenderOn {
  0% {
    transform: translate(-2px, -2px);
  }
  33% {
    transform: translate(2px, -2px);
  }
  66% {
    transform: translate(-2px, 2px);
  }
  100% {
    transform: translate(2px, 2px);
  }
}
@keyframes blenderFruitX {
  0% {
    margin-left: -30px;
  }
  100% {
    margin-left: 30px;
  }
}
@keyframes blenderFruitR {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
