body {
  margin: 0;
  padding: 0;
}

/* HEADER */

.header {
  padding: 2rem 0;
  text-align: center;
  color: #fff;
  background-color: #C2185B;
}
.header img {
  display: block;
  margin: 0 auto 1rem;
  border-radius: 4px;
}
@media screen and (min-width: 800px) {
  .header {
    text-align: left;
  }
  .header img {
    float: left;
    margin: 0;
    margin-right: 1rem;
    height: 70px;
  }
}

/* MAIN */

.main {
  padding: 2rem 0;
}
@media screen and (max-width: 800px) {
  .main {
    padding: 1rem 0;
  }
}

/* FOOTER */

.footer img {
  float: left;
  height: 70px;
}
.footer p {
  line-height: 70px;
}

/* CARD */

.card {
  display: block;
  border: 1px solid #333;
  padding: 1rem;
  width: 100%;
  color: #333;
  background-color: #f6f6f6;
  border-radius: 4px;
}
.card img {
  display: block;
  float: left;
  height: 80px;
  margin-right: 1rem;
}
.card p {
  margin-top: 10px;
  line-height: 30px;
}
