.nav {
  padding: 1rem 0;
  background-color: #6A1B9A;
  color: #fff;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin: 0;
    margin-right: 1rem;
    padding: 0;
    list-style: none;
  }
  a {
    color: #fff;
  }
}
